
#picture-editor {
  text-align: center;
  canvas {
    border-color: #5b5f66;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 4px;
    display:block;
    &:hover {
      cursor: move;
    }
  }
  button {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  input {
    background: #e6e6e6;
    width: 204px;
    margin: 20px auto;
    margin-bottom: 10px;
    height: 15px;
    border-radius: 20px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background: #5b5f66;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      background: #999;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}